<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">

  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="assets/base.css">
  <link rel="stylesheet" href="assets/style.css">

  <!-- js -->
  <script src="assets/modernizr.js"></script>
</head>

<body>

<div class="wrapper">

<div class="info-bar">
  <h1 id="headertext">
  <span class="mychangecolor"> Naked</span>
  nails</h1>
  <form>
    <button id="bookbtn" formaction="/order.html">Book now</button>
</form>
</div>

  <main>
      
      <section class="module parallax parallax-1">
      </section>

      <section class="module content">
        <div class="container">
          <h2>Do you feel 
          <span class="mychangecolor"> Naked</span>? Let us help you with that. Our service include trimming, shaping, massaging, cleaning, and applying hot towel.</h2>
          <table style="width:100%">
            <tr>
              <th>
              <p style="text-align: left;">Nail it - Regular Manicure
              </p>
              </th>
              <th>
              <p>15$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">Our classic course. First we trim and shape your nails. After that we clean your nail bed, massage it and apply hot towel. And before finally applying the polish we give it another quick clean</p>
              </td>
            </tr>
            <tr>
              <th>
              <p style="text-align: left;">Almost There - No Chip Manicure
              </p>
              </th>
              <th>
              <p>40$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">If our Nail it procedure doesn't last long enough for you this is the option for you. This service includes all the steps from Nail it and plus the no chip procedure ensuring a long lasting beauty.</p>
              </td>
            </tr>
            <tr>
              <th>
              <p style="text-align: left;">Blossom - Spa Manicure
              </p>
              </th>
              <th>
              <p>25$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">Feeling weightless like a feather floating on water. Our spa Manicure will make you forget about all of those notifications on your smartphone.</p>
              </td>
            </tr>
            <tr>
              <th>
              <p style="text-align: left;">Glossy - Shining Manicure
              </p>
              </th>
              <th>
              <p>10$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">This service includes a glossy finish that will leae you starting t your finger in amazement.</p>
              </td>
            </tr>
            <tr>
              <th>
              <p style="text-align: left;">Asap - Polish Change
              </p>
              </th>
              <th>
              <p>20$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">In a hurry but want to look fresh at work? Then this is the service for you. Steps include trimming, shaping, applying acetone, and give it a good clean before finally applying polish.</p>
              </td>
            </tr>
            <tr>
              <th>
              <p style="text-align: left;">Mini me - Kid's Manicure
              </p>
              </th>
              <th>
              <p>10$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">It's never too early to give your kid a fabulous makeover for fun. And what better way to start than with a fancy pair of nails?</p>
              </td>
            </tr>
          </table>
        </div>
      </section>

      <section class="module parallax parallax-2">
      </section>

      <section class="module content">
        <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta cum distinctio eum asperiores rem enim fugit eaque voluptas est laboriosam in repudiandae architecto placeat, illum atque quasi explicabo, culpa, molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptas, aperiam quae provident, recusandae rem quis. Ut quaerat, quasi iste voluptate et dolorem atque sed neque voluptates, molestias dolor enim!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odit tempore, quibusdam impedit deserunt. Natus quisquam, facilis numquam, molestias nesciunt modi, at debitis maxime sunt et quo quas labore perferendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde delectus laborum doloremque recusandae, debitis maxime a! Nihil distinctio ex, cumque tempore ea voluptas omnis odit, quaerat natus nam excepturi corporis!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eius harum atque unde nihil aut quam provident sunt, iste error vitae suscipit dolores cupiditate totam, eum quae alias! Dicta, nisi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate beatae impedit officia quis odit rerum sequi, explicabo commodi illum suscipit, tempore eum doloremque quae obcaecati tempora quidem neque sapiente modi?</p>
        </div>
      </section>
  </main><!-- /main -->

  <footer>
    <div class="container">
    </div>
  </footer><!-- /footer -->
  
</div><!-- /#wrapper -->

</body>
</html>