<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">

  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="assets/base.css">
  <link rel="stylesheet" href="assets/style.css">

  <!-- js -->
  <script src="assets/modernizr.js"></script>
</head>

<body>

<div class="wrapper">

<div class="info-bar">
  <h1 id="headertext">
  <span class="mychangecolor"> Naked</span>
  nails</h1>
  <form>
    <button id="bookbtn" formaction="/order.html">Book now</button>
</form>
</div>

  <main>
      
      <section class="module parallax parallax-1">
      </section>

      <section class="module content">
        <div class="container">
          <h2>Do you feel 
          <span class="mychangecolor"> Naked</span>? Let us help you with that. Our service include trimming, shaping, massaging, cleaning, and applying hot towel.</h2>
          <table style="width:100%">
            <tr>
              <th>
              <p id="service_name">Nail it - Regular Manicure
              </p>
              </th>
              <th>
              <p id="service_name">15$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">Our classic course. First we trim and shape your nails. After that we clean your nail bed, massage it and apply hot towel. And before finally applying the polish we give it another quick clean</p>
              </td>
            </tr>
            <tr>
              <th>
              <p id="service_name">Almost There - No Chip Manicure
              </p>
              </th>
              <th>
              <p id="service_name">40$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">If our Nail it procedure doesn't last long enough for you this is the option for you. This service includes all the steps from Nail it and plus the no chip procedure ensuring a long lasting beauty.</p>
              </td>
            </tr>
            <tr>
              <th>
              <p id="service_name">Blossom - Spa Manicure
              </p>
              </th>
              <th>
              <p id="service_name">25$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">Feeling weightless like a feather floating on water. Our spa Manicure will make you forget about all of those notifications on your smartphone.</p>
              </td>
            </tr>
            <tr>
              <th>
              <p id="service_name">Glossy - Shining Manicure
              </p>
              </th>
              <th>
              <p id="service_name">10$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">This service includes a glossy finish that will leae you starting t your finger in amazement.</p>
              </td>
            </tr>
            <tr>
              <th>
              <p id="service_name">Asap - Polish Change
              </p>
              </th>
              <th>
              <p id="service_name">20$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">In a hurry but want to look fresh at work? Then this is the service for you. Steps include trimming, shaping, applying acetone, and give it a good clean before finally applying polish.</p>
              </td>
            </tr>
            <tr>
              <th>
              <p id="service_name">Mini me - Kid's Manicure
              </p>
              </th>
              <th>
              <p id="service_name">10$</p>
              </th> 
            </tr>
            <tr>
              <td colspan="2">
              <p style="font-size: 17px;">It's never too early to give your kid a fabulous makeover for fun. And what better way to start than with a fancy pair of nails?</p>
              </td>
            </tr>
          </table>
        </div>
      </section>

      <section class="module parallax parallax-2">
      </section>
  </main><!-- /main -->

  <footer>
    <div class="container">
    </div>
  </footer><!-- /footer -->
  
</div><!-- /#wrapper -->

</body>
</html>