/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  color: #000000;
  margin-bottom: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("nail.png");
}
section.module.parallax-2 {
  background-image: url("pedicure.png");
}
section.module.parallax-3 {
  background-image: url("3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
#bookbtn{
  border: 1px solid;
  background-color: transparent;
  outline: none;
  width: 150px;
  height: 60px;
  position: fixed;
  top: 1em;
  right: 1em;
}
#headertext{
  font-size: 40px;
  text-align: left;
  margin-left: 40px;
  color: #000000;
  font-family: 'Abril Fatface', cursive;
}
td{
  padding: 20px;
}
.mychangecolor{
  color: #ff3399;
  font-weight: bold;
}
#service_name{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;
  color: black;
  font-size: 29px;
}